aiofiles==25.1.0
aiogram==3.28.2
aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
aiosqlite==0.22.1
annotated-types==0.7.0
asyncio==4.0.0
attrs==26.1.0
certifi==2026.5.20
frozenlist==1.8.0
idna==3.16
joblib==1.5.3
magic-filter==1.0.12
multidict==6.7.1
numpy==2.4.6
pandas==3.0.3
propcache==0.5.2
pydantic==2.13.4
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
python-decouple==3.8
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
threadpoolctl==3.6.0
typing-inspection==0.4.2
typing_extensions==4.15.0
yarl==1.24.2
